@page "/board"
@rendermode InteractiveServer
@using Models
@using System.Diagnostics
@using System

<div id="chessboard" style="display:grid; grid-template-columns: repeat(8, 1fr); border: 2px solid black;">
    @foreach (KeyValuePair<string, Cell> kvp in game.Board.BoardCells)
    {
        <div @onclick="() => game.Board.SelectField(kvp.Key)" id="@kvp.Key" style="background-color:@kvp.Value.Color; height:@kvp.Value.Height; width:@kvp.Value.Width;
                                border:@(kvp.Value.IsSelected ? "3px solid lightblue" : "1px solid black");
                                background-color:@(kvp.Value.IsHighlighted ? "lightgreen" : kvp.Value.Color);
                                display:flex; justify-content:center; align-items:center; font-size:48px;
                                position:relative;">
            @kvp.Value.Occupant?.UnicodeSymbol
            <div style="position:absolute; top:2px; left:2px; font-size:30px; opacity:0.6;">
                **@kvp.Key**
            </div>
        </div>
    }
</div>

@code {
    Chess.Models.Game game = new Chess.Models.Game();

    private void OnCellClick(string cellId)
    {
        var cell = game.Board.BoardCells[cellId];

        if (cell.Occupant != null && cell.Occupant.Owner == game.CurrentTurn)
        {
            game.Board.SelectField(cellId);
        }
        else if (game.Board.Selected != null)
        {
            var selectedPiece = game.Board.Selected.Occupant;
            if (selectedPiece != null)
            {
                cell.Occupant = selectedPiece;
                game.Board.Selected.Occupant = null;

                selectedPiece.File = cell.Col;
                selectedPiece.Rank = cell.Row;

                game.Board.Selected.IsSelected = false;
                game.Board.Selected = null;

                game.CheckWinner();
                game.NextTurn();
            }
        }
    }
}
