@page "/board"
@rendermode InteractiveServer
@using Models
@using System.Diagnostics
@using System

<div id="chessboard" style="display:grid; grid-template-columns: repeat(8, 1fr); border: 2px solid black;">
    @foreach (KeyValuePair<string, Cell> kvp in game.Board.BoardCells)
    {       
        <div @onclick="() => game.Board.SelectField(kvp.Key)"
             id="@kvp.Key"
             style="background-color:@kvp.Value.Color; height:@kvp.Value.Height; width:@kvp.Value.Width;
                            border:@(kvp.Value.IsSelected ? "3px solid lightblue" : "1px solid black");
                            background-color:@(kvp.Value.IsHighlighted ? "lightgreen" : kvp.Value.Color);
                            display:flex; justify-content:center; align-items:center; font-size:48px;">
            @kvp.Value.Occupant?.UnicodeSymbol
        </div>
    }
</div>

@code {
    Chess.Models.Game game = new Chess.Models.Game();
}