@page "/board"
@rendermode InteractiveServer
@using BoardInfo
@using System.Diagnostics
@using System

<div id="chessboard" style="display:grid; grid-template-columns: repeat(8, 1fr); border-style: solid;">
    @foreach (KeyValuePair<string, Cell> Kvp in board.BoardCells)
    {
        <div @onclick="() => board.SelectField(Kvp.Key)" id="@Kvp.Key" style="background-color:@Kvp.Value.Color; height:@Kvp.Value.Height; width:@Kvp.Value.Width; border: @(Kvp.Value.IsSelected ? "3px solid lightblue" : "none"); ">
          
        </div>
    }
</div>

@code {
    ChessBoard board = new ChessBoard(); 
}